body {
  min-height: 2000px;
  padding-top: 0px;
}

#con.well {
    height:560px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}


.lead-mod{
	margin-bottom:20px;
	font-size:17px;
	font-weight:300;
	line-height:1.3
}

@media (min-width:768px){
	.lead-mod{
		font-size:17px
	}

}



/*startbootstrap shop-homepage*/

body {
    padding-top: 0px;
}
.slide-image {
    width: 100%;
}
.carousel-holder {
    margin-bottom: 30px;
}
.carousel-control, .item {
    border-radius: 4px;
}
.caption {
    height: 130px;
    overflow: hidden;
}
.caption h4 {
    white-space: nowrap;
}
.thumbnail img {
    width: 100%;
}
.ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    color: #333;
    padding: 9px;
}
footer {
    margin: 50px 0;
}

/*******************************/

